* {
    margin: 0px;
    box-sizing: border-box;
  }
  .container {
    border: 2px solid black;
    width: 80%;
    margin: 100px auto;
    padding: 10px;
  }
  p {
    border: 1px solid red;
    padding: 50px;
    text-align: justify;
    margin: 20px;
  }
  span {
    border: 2px solid blue;
    padding: 0px 30px;
    display: inline-block;
    margin: 0px 10px;
    margin-top:35px;
  }