*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
}

.box{
    margin:100px auto;
    width:100px;
    height: 100px;
    background-color: cadetblue;
    transition-property:background-color border;
    transition-duration: 4s;
}

.box:hover{
    background: white;
    border-radius: 50%;
    transform: translateX(100px);
}