*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 50%;
    height:100vh;
    margin:auto;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 20fr 60fr 20fr;
    grid-template-areas: "nav nav" "con aside" "footer footer";
}

.text-center{
    color:white;
    text-align: center;
    font-size: 1.3rem;
}

.navigation{
    background-color: black;
    grid-area:nav;
    height:100%;
    width:100%;
    justify-self:center;
    align-self: center;
}

.content{
    background-color: chartreuse;
    grid-area: con;
}

.aside{
    background-color: pink;
    grid-area: aside;
}

.footer{
    background-color: black;
    grid-area: footer;
}


